%h1.page-header
  About Webuygoods.nyc
  %br
  %small Top Rated Buyers of NYC
  %h2
    %span 
  %p.lead
    %span 
      = "We are an A+ rated buyer—insured, secure, and trustworthy. Our company has been serving the New York City communities in the five boroughs since 2010. Bring your unwanted items to any of our locations in New York City. You can rest assured that you will get top dollar assessment for your valuables. Satisfaction garantied."
  %hr
  %img.img-responsive{:alt => "", :src => "/ph.jpg"}/
%hr