%h1.page-header
  Where to sell electronics, handbags, gold, silver
  %br
  %small Top rated buyer in New York area
%hr
- if false 
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    %h3.text-center Staten Island Location 
    %h5 
      = "tel:917.450.8209 (Arthur The JeWLer"
      %i.fa.fa-diamond
      = ")"
    %h5 email: arthursgold@gmail.com
    %p.map-images
      %iframe{:width=>"100%", :height=>"250" , :align => "center" , :frameborder=>"0" ,:style=>"border:0", :src=>"https://www.google.com/maps/embed/v1/place?q=1205%20Bay%20Street%2C%20Staten%20Island%2C%20NY%2C%20United%20States%2010305&key=AIzaSyAG1JHhDDpKIublp2o1A107YHnRFEGQa7E"}
- if true
  .col-lg-12.col-md-12.col-sm-12.col-xs-12
    %h3.text-center Queens Location:
    %h5 tel:718.846.1600
    %h5 email: webuygoodsny@gmail.com
    %p.map-images
      %iframe{:width=>"100%", :height=>"250", :align => "center" ,:frameborder=>"0" ,:style=>"border:0", :src=>"https://www.google.com/maps/embed/v1/place?q=119-16%20Jamaica%20Ave%20Queens%2C%20New%20York%2C%20NY%2C%20United%20States&key=AIzaSyAG1JHhDDpKIublp2o1A107YHnRFEGQa7E"}
%br
%hr
%h3.text-center We are open every day from 10 am till 6 pm      