%h3.page-header
  Ho we buy items:
  %br
  %small 
  %p
    %ul.instructions 
      %li To sell your items you must be at least 18 years old and have valid id;
      %li Before we will buy your electronic items, please remove all accounts and passwords (Google, iCloud, Playstation accounts etc...);
      %li Estimates based on oral description or pictures are not accurate. Final price can be different.
      %li We do not buy any lost or stolen items;
  %hr
    %img.img-responsive{:alt => "", :src => "/ph.jpg"}
  
%hr