%hr
%footer.footer-distributed
  .footer-left
    %h3
      WeBuyGoods.nyc
    %p.footer-links
      = link_to "Home", root_path
      ·
      = link_to "About", about_path
      ·
      = link_to 'Contacts', contacts_path
    %p.footer-company-name WeBuyGoods.nyc © 2017
  .footer-center
    %div
      %i.fa.fa-map-marker
      %p
        %a{:href => "https://www.google.com/maps/dir/Current+Location/1215+Bay+Street+Staten+Island+NY+10305"}
          %span 1215 Bay Street
          Staten Island, NY 10305
    %div
      %i.fa.fa-phone
      %p
        %a{:href => "tel:+1-917-450-8209"} +1 (917) 450-8209
    %div
      %i.fa.fa-envelope
      %p
        %a{:href => "mailto:arthursgold@gmail.com"} arthursgold@gmail.com
  .footer-right
    %p.footer-company-about
      %span WeByyGoods.nyc
      We have the best customer service and always pay more, so if you have something to sell - we are your best choice.
    .footer-icons
      %a{:href => "https://www.facebook.com/webuygoodsnyc"}
        %i.fa.fa-facebook
      %a{:href => "https://plus.google.com/106507584776418285314/about"}
        %i.fa.fa-google-plus
      %a{:href => "https://www.instagram.com/webuygoodsnyc/"}
        %i.fa.fa-instagram
      %a{:href => "https://twitter.com/webuygoodsnyc"}
        %i.fa.fa-twitter
/ jQuery
%script{:src => "js/jquery.js"}
/ Bootstrap Core JavaScript
%script{:src => "js/bootstrap.min.js"}